@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-input-number {
    &__icon {
      color: vars.$dark-color;
      &--disabled {
        color: vars.$dark-color-gray;
      }
    }
    input,
    &__text--readonly {
      background-color: vars.$dark-background;
      color: vars.$dark-color;
      border: 1px solid vars.$dark-color-gray;
    }
    &--disabled {
      input {
        color: vars.$dark-color-gray;
      }
    }
  }
}
.nut-input-number {
  display: vars.$inputnumber-display;
  align-items: center;
  border: vars.$inputnumber-border;
  border-radius: vars.$inputnumber-border-radius;
  height: vars.$inputnumber-height;
  line-height: vars.$inputnumber-line-height;
  box-sizing: vars.$inputnumber-border-box;

  &--disabled {
    input {
      color: vars.$inputnumber-icon-void-color;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    color: vars.$inputnumber-icon-color;
    .nut-icon {
      width: vars.$inputnumber-icon-size;
      height: vars.$inputnumber-icon-size;
      font-size: vars.$inputnumber-icon-size;
    }
    cursor: pointer;
    &--disabled {
      color: vars.$inputnumber-icon-void-color;
      cursor: not-allowed;
    }
  }

  input {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  input,
  &__text--readonly,
  &__text--input {
    width: vars.$inputnumber-input-width;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: vars.$inputnumber-input-border;
    font-size: vars.$inputnumber-input-font-size;
    color: vars.$inputnumber-input-font-color;
    margin: vars.$inputnumber-input-margin;
    background-color: vars.$inputnumber-input-background-color;
    border-radius: vars.$inputnumber-input-border-radius;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }
}
