@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-empty {
    background: vars.$dark-background;
  }
}

.nut-empty {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: vars.$empty-padding;

  &__box {
    width: vars.$empty-image-size;
    height: vars.$empty-image-size;

    .img {
      width: 100%;
      height: 100%;
    }

    // 兼容小程序标签和img-slot
    img,
    image {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    margin-top: vars.$empty-description-margin-top;
    padding: vars.$empty-description-padding;
    color: vars.$empty-description-color;
    font-size: vars.$empty-description-font-size;
    line-height: vars.$empty-description-line-height;
  }
}
