@use '../../styles/variables.scss' as vars;

.nut-fade-enter-active {
  transition: opacity 1s;
}

.nut-fade-leave-active {
  transition: opacity 1s;
}

.nut-fade-enter-from,
.nut-fade-leave-to {
  opacity: 0;
}
.nut-notify {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: vars.$notify-padding;
  color: vars.$notify-text-color;
  font-size: vars.$notify-font-size;
  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;
  height: vars.$notify-height;
  line-height: vars.$notify-line-height;
  &--base {
    background: vars.$notify-base-background-color;
  }
  &--primary {
    background: vars.$notify-primary-background-color;
  }

  &--success {
    background: vars.$notify-success-background-color;
  }

  &--danger {
    background: vars.$notify-danger-background-color;
  }

  &--warning {
    background: vars.$notify-warning-background-color;
  }
  view {
    width: 100%;
    text-align: center;
  }
}
