@use '../../styles/variables.scss' as vars;

.nut-ellipsis {
  display: flex;
  .nut-ellipsis__text {
    cursor: hand;
    color: vars.$ellipsis-expand-collapse-color;
    display: inline;
  }

  .nut-ellipsis__wordbreak {
    word-break: break-all;
  }
}

.nut-ellipsis__copy {
  position: absolute;
  top: -999999px;
}
