@use '../../styles/variables.scss' as vars;

.nut-tag {
  padding: 0 4px;
  display: inline-flex;
  align-items: center;
  font-size: vars.$tag-font-size;
  border-radius: vars.$tag-default-border-radius;
  height: vars.$tag-height;
  &--default {
    color: vars.$tag-default-color;
    background: vars.$tag-default-background-color;
    border: vars.$tag-border-width solid transparent;
    &.nut-tag--plain {
      color: vars.$tag-default-background-color;
      border: vars.$tag-border-width solid vars.$tag-default-background-color;
    }
  }

  &--primary {
    color: vars.$tag-default-color;
    background: vars.$tag-primary-background-color;
    border: vars.$tag-border-width solid transparent;
    &.nut-tag--plain {
      color: vars.$tag-primary-background-color;
      border: vars.$tag-border-width solid vars.$tag-primary-background-color;
    }
  }

  &--success {
    color: vars.$tag-default-color;
    background: vars.$tag-success-background-color;
    border: vars.$tag-border-width solid transparent;
    &.nut-tag--plain {
      color: vars.$tag-success-background-color;
      border: vars.$tag-border-width solid vars.$tag-success-background-color;
    }
  }

  &--danger {
    color: vars.$tag-default-color;
    background: vars.$tag-danger-background-color;
    border: vars.$tag-border-width solid transparent;
    &.nut-tag--plain {
      color: vars.$tag-danger-background-color-plain;
      border: vars.$tag-border-width solid vars.$tag-danger-background-color-plain;
    }
  }

  &--warning {
    color: vars.$tag-default-color;
    background: vars.$tag-warning-background-color;
    border: vars.$tag-border-width solid transparent;
    &.nut-tag--plain {
      color: vars.$tag-warning-background-color;
      border: vars.$tag-border-width solid vars.$tag-warning-background-color;
    }
  }

  &--round {
    border-radius: vars.$tag-round-border-radius;
  }

  &--mark {
    border-radius: 0 12px 12px 0;
  }
  &--close {
    margin-left: 4px;
    cursor: pointer;
  }
}
