@use '../../styles/variables.scss' as vars;

.nut-calendarcard {
  background: vars.$white;
  border-radius: 12px;
  overflow: hidden;
  font-size: vars.$calendar-base-font;
  color: vars.$black;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;

    &-left,
    &-right {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      margin: 16px;
      line-height: 1;

      .left {
        margin-left: 8px;
      }
      .right {
        margin-right: 8px;
      }
    }
  }

  &-days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &-day {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 14.28%;
    height: 48px;
    cursor: pointer;
    margin-bottom: 4px;
    text-align: center;
    user-select: none;

    &.header {
      cursor: auto;
    }

    &-top,
    &-bottom {
      width: 100%;
      height: 12px;
      font-size: 12px;
      line-height: 12px;
    }

    &.weekend {
      color: vars.$calendar-choose-color;
    }

    &.mid {
      background-color: vars.$calendar-choose-background-color;
      color: vars.$calendar-choose-color;
    }

    &.active,
    &.start,
    &.end {
      background-color: vars.$primary-color;
      color: vars.$white;
    }

    .nut-calendar-day-info {
      color: vars.$calendar-primary-color;
    }

    // 上个月、下个月
    &.prev,
    &.next,
    &.disabled {
      color: vars.$calendar-disable-color;
      cursor: not-allowed;
    }
  }
}
