@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-noticebar__page {
    background: vars.$dark-background2;
    color: vars.$dark-color;
  }

  .nut-noticebar__vertical {
    .nut-noticebar__vertical-item {
      color: vars.$dark-color;
    }
  }
}
.nut-noticebar__page {
  display: flex;
  padding: vars.$noticebar-box-padding;
  height: vars.$noticebar-across-height;
  font-size: vars.$noticebar-font-size;
  position: relative;
  align-items: center;
  background: vars.$noticebar-background;
  color: vars.$noticebar-color;
  &--wrapable {
    height: auto;
    padding: vars.$noticebar-wrapable-padding;
    .nut-noticebar__page-wrap {
      height: auto !important;
      .nut-noticebar__page-wrap-content {
        position: relative;
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }

  .nut-noticebar__page--withicon {
    position: relative;
    padding-right: 40px;
  }
  .nut-noticebar__page-lefticon {
    display: flex;
    align-items: center;
    margin: vars.$noticebar-lefticon-margin;
    background-size: 100% 100%;
  }
  .nut-noticebar__page-righticon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: vars.$noticebar-righticon-margin;
  }
  .nut-noticebar__page-wrap {
    display: flex;
    flex: 1;
    height: vars.$noticebar-across-line-height;
    line-height: vars.$noticebar-across-line-height;
    overflow: hidden;
    position: relative;
  }
  .nut-noticebar__page-wrap-content {
    position: absolute;
    white-space: nowrap;
    &.nut-ellipsis {
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  // 只跑一次
  .play {
    animation: nut-notice-bar-play linear both running;
  }
  .play-infinite {
    animation: nut-notice-bar-play-infinite linear infinite both running;
  }
  .play-vertical {
    animation: nut-notice-bar-play-vertical linear infinite both running;
  }
}

@keyframes nut-notice-bar-play {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes nut-notice-bar-play-infinite {
  to {
    transform: translateX(-100%);
  }
}
// 垂直方向的滚动
@keyframes nut-notice-bar-play-vertical {
  to {
    transform: translateY(vars.$noticebar-across-height);
  }
}

// 纵向
.nut-noticebar__vertical {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: vars.$noticebar-across-height;
  font-size: vars.$noticebar-font-size;
  overflow: hidden;
  padding: vars.$noticebar-box-padding;
  background: vars.$noticebar-background;
  color: vars.$noticebar-color;

  .nut-noticebar__vertical-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    flex: 1;
    overflow: hidden;
    .nut-noticebar__vertical-item {
      // display: flex;
      // align-items: center;
      height: vars.$noticebar-across-height;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .nut-noticebar-custom-item {
    position: absolute;
    top: 999999px;
  }
  .go {
    margin: vars.$noticebar-righticon-margin;
    align-self: center;
    display: flex;
  }
}
