@use '../../styles/variables.scss' as vars;

.nut-divider {
  display: flex;
  align-items: center;
  font-size: vars.$divider-text-font-size;
  color: vars.$divider-text-color;
  margin: vars.$divider-margin;

  &::before,
  &::after {
    content: '';
    border: vars.$divider-line-height solid currentColor;
    border-width: vars.$divider-line-height 0 0;
    height: vars.$divider-line-height;
    flex: 1;
  }

  &.nut-divider-center,
  &.nut-divider-left,
  &.nut-divider-right {
    &::before {
      margin-right: vars.$divider-before-margin-right;
    }

    &::after {
      margin-left: vars.$divider-after-margin-left;
    }
  }

  &.nut-divider-left {
    &::before {
      max-width: 10%;
    }
  }

  &.nut-divider-right {
    &::after {
      max-width: 10%;
    }
  }

  &.nut-divider-dashed {
    &::before,
    &::after {
      border-style: dashed;
    }
  }

  &.nut-divider-hairline {
    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }

  &.nut-divider-vertical {
    position: relative;
    top: vars.$divider-vertical-top;
    display: inline-block;
    height: vars.$divider-vertical-height;
    border-left: 1px solid vars.$divider-vertical-border-left;
    margin: vars.$divider-vertical-margin;
  }
}
