@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-navbar {
    background: vars.$dark-background;
    color: vars.$dark-color;
    .title {
      color: vars.$dark-color;
    }
  }
}
.nut-navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: vars.$navbar-height;
  box-sizing: border-box;
  padding: vars.$navbar-padding;
  background: vars.$navbar-background;
  box-shadow: vars.$navbar-box-shadow;
  font-size: vars.$navbar-title-base-font;
  color: vars.$navbar-color;
  overflow: hidden;
  &:active::before {
    opacity: 0.1;
  }
  &--border {
    border-bottom: 1px solid #eee;
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  &--placeholder {
    display: block;
    width: 100%;
  }
  &--safe-area-inset-top {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  &--fixed {
    &.nut-navbar--safe-area-inset-top {
      height: calc(vars.$navbar-height + constant(safe-area-inset-top));
      height: calc(vars.$navbar-height + env(safe-area-inset-top));
    }
  }
  &--clickable {
    &::before {
      position: absolute;
      content: ' ';
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: vars.$black;
      border: inherit;
      border-color: vars.$black;
      border-radius: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  .nutui-iconfont {
    .nut-icon-left {
      text-align: left;
    }
  }

  &__title {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      min-width: vars.$navbar-title-width;
      font-size: vars.$navbar-title-font;
      font-weight: vars.$navbar-title-font-weight;
      color: vars.$navbar-title-font-color;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    &.icon {
      .icon {
        margin: vars.$navbar-title-icon-margin;
      }
    }
    .icon {
      font-size: 0;
    }
    .nut-icon {
      display: inline;
    }
    &-desc {
      font-size: vars.$cell-title-desc-font;
    }
    .text__title {
      display: inline-block;
    }
  }

  &__title ::-webkit-scrollbar {
    display: none;
  }

  &__left {
    position: absolute;
    left: 0;
    font-size: vars.$cell-desc-font;
    color: vars.$cell-desc-color;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
  }
  &__right {
    position: absolute;
    right: 0;
    font-size: vars.$cell-desc-font;
    color: vars.$cell-desc-color;
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
  }
}
