@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-pagination {
    &-prev,
    &-item,
    &-next {
      background: vars.$dark-background;
      border-color: vars.$dark-color-gray;
    }
    &-simple {
      background: vars.$dark-background;
    }
    .simple-border {
      border-color: vars.$dark-color-gray;
    }
    .disabled {
      background: vars.$dark-background;
    }
  }
}
.nut-pagination {
  display: flex;
  font-size: vars.$pagination-font-size;
  color: vars.$pagination-color;
  &-contain {
    display: flex;
  }
  &-simple {
    height: 39px;
    width: 124px;
    line-height: 39px;
    text-align: center;
  }
  &-prev,
  &-item,
  &-next {
    height: 39px;
    min-width: 39px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: vars.$white;
    border-radius: vars.$pagination-item-border-radius;
    border: vars.$pagination-item-border-width solid vars.$pagination-item-border-color;
    cursor: pointer;
  }
  &-prev,
  &-item {
    border-right: none;
  }
  &-prev,
  &-next {
    padding: vars.$pagination-prev-next-padding;
  }
  .simple-border {
    border-right: vars.$pagination-item-border-width solid vars.$pagination-item-border-color;
  }
  .active {
    color: vars.$white;
    border: none;
    background: vars.$pagination-active-background-color;
  }
  .disabled {
    color: vars.$pagination-disable-color;
    background-color: vars.$pagination-disable-background-color;
    cursor: not-allowed;
  }
}
