@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-badge {
    &.show {
      background: vars.$dark-background;
      color: vars.$dark-color;
    }
  }
}
.nut-badge {
  position: relative;
  display: inline-block;
  .nut-badge__icon {
    display: flex;
    align-items: center;
    line-height: normal;
    transform: vars.$badge-content-transform;
    position: absolute;
    background: vars.$badge-background-color;
    padding: vars.$badge-icon-padding;
    text-align: center;
    border-radius: vars.$badge-border-radius;
    z-index: vars.$badge-z-index;
  }
  .nut-badge__content {
    display: flex;
    align-items: center;
    transform: vars.$badge-content-transform;
    &--sup {
      position: absolute;
      background: vars.$badge-background-color;
      padding: vars.$badge-padding;
      text-align: center;
      border-radius: vars.$badge-border-radius;
      font-size: vars.$badge-font-size;
      font-weight: normal;
      color: vars.$badge-color;
    }
    &--dot {
      width: vars.$badge-dot-width;
      height: vars.$badge-dot-height;
      border-radius: vars.$badge-dot-border-radius;
      padding: vars.$badge-dot-padding;
    }
    &--bubble {
      border-bottom-left-radius: 0;
    }
  }
}
