@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-time-pannel {
    background-color: vars.$dark-background3;
    color: vars.$dark-color-gray;
    &--curr {
      background-color: vars.$dark-background2;
      color: vars.$dark-color;
    }
  }
}
.nut-time-pannel {
  display: flex;
  width: vars.$timeselect-timepannel-width;
  height: vars.$timeselect-timepannel-height;
  padding: vars.$timeselect-timepannel-padding;
  align-items: center;
  justify-content: center;
  color: vars.$timeselect-timepannel-text-color;
  font-size: vars.$timeselect-timepannel-font-size;
  box-sizing: border-box;
  &--curr {
    background-color: vars.$timeselect-timepannel-cur-bg-color;
    color: vars.$timeselect-timepannel-cur-text-color;
    font-weight: bold;
  }
}
