@use '../../styles/variables.scss' as vars;

.nut-trend-arrow {
  display: inline-block;
  font-size: vars.$trendarrow-font-size;
  &-icon-before {
    margin-right: vars.$trendarrow-before-icon-margin;
  }
  &-icon-after {
    margin-left: vars.$trendarrow-before-icon-margin;
  }
  &-rate {
    vertical-align: middle;
    display: inline;
  }
  .nut-icon {
    vertical-align: middle;
  }
}
