@use '../../styles/variables.scss' as vars;

.nut-indicator {
  &--block {
    display: block;
    width: 100%;
  }
  &--align__left {
    text-align: left;
  }
  &--align__right {
    text-align: right;
  }
  &--align__center {
    text-align: center;
  }
  &--dot,
  &--number {
    margin: 0 4px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &--dot {
    display: inline-block;
    vertical-align: middle;
    width: vars.$indicator-dot-size;
    height: vars.$indicator-dot-size;
    border-radius: 50%;
    background-color: vars.$indicator-dot-color;
  }
  &--number {
    display: inline-block;
    position: relative;
    width: vars.$indicator-size;
    height: vars.$indicator-size;
    text-align: center;
    font-size: vars.$indicator-number-font-size;
    line-height: vars.$indicator-size;
    color: vars.$indicator-color;
    vertical-align: middle;
    border: 1px solid vars.$indicator-color;
    border-radius: 50%;
    background-color: vars.$indicator-bg-color;
    box-shadow: 0 0 1px 1px vars.$indicator-bg-color;
  }
}
