@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-side-navbar-item {
    background-color: vars.$dark-background2;
    &__title {
      background-color: vars.$dark-background2;
      color: vars.$dark-color;
    }
  }
}
.nut-side-navbar-item {
  height: vars.$sidenavbar-item-height;
  line-height: vars.$sidenavbar-item-line-height;
  display: block;
  font-size: vars.$sidenavbar-item-font-size;
  background-color: vars.$sidenavbar-item-title-bg-color;
  &__title {
    color: vars.$sidenavbar-item-title-color;
    background-color: vars.$sidenavbar-item-title-bg-color;
  }
}
