@use '../../styles/variables.scss' as vars;

.nut-button {
  position: relative;
  display: inline-block;
  width: auto;
  flex-shrink: 0;
  height: vars.$button-default-height;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: vars.$button-default-line-height;
  font-size: vars.$button-default-font-size;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s;
  appearance: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  .nut-button__text {
    margin-left: 5px;
  }
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: vars.$black;
    border: inherit;
    border-color: vars.$black;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }
  &::after {
    border: none;
  }
  &:active::before {
    opacity: 0.1;
  }
  &__wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--loading,
  &--disabled {
    &::before {
      display: none;
    }
  }
  &--default {
    color: vars.$button-default-color;
    background: vars.$button-default-bg-color;
    background-origin: border-box;
    border: vars.$button-border-width solid vars.$button-default-border-color;
  }

  &--primary {
    color: vars.$button-primary-color;
    background: vars.$button-primary-background-color;
    background-origin: border-box;
    border: vars.$button-border-width solid transparent;
  }

  &--info {
    color: vars.$button-info-color;
    background: vars.$button-info-background-color;
    background-origin: border-box;
    border: vars.$button-border-width solid transparent;
  }

  &--success {
    color: vars.$button-success-color;
    background: vars.$button-success-background-color;
    background-origin: border-box;
    border: vars.$button-border-width solid transparent;
  }

  &--danger {
    color: vars.$button-danger-color;
    background: vars.$button-danger-background-color;
    background-origin: border-box;
    border: vars.$button-border-width solid transparent;
  }

  &--warning {
    color: vars.$button-warning-color;
    background: vars.$button-warning-background-color;
    background-origin: border-box;
    border: vars.$button-border-width solid transparent;
  }

  &--plain {
    background: vars.$button-plain-background-color;
    background-origin: border-box;

    &.nut-button--primary {
      color: vars.$button-primary-border-color;
      border-color: vars.$button-primary-border-color;
    }

    &.nut-button--info {
      color: vars.$button-info-border-color;
      border-color: vars.$button-info-border-color;
    }

    &.nut-button--success {
      color: vars.$button-success-border-color;
      border-color: vars.$button-success-border-color;
    }

    &.nut-button--danger {
      color: vars.$button-danger-border-color;
      border-color: vars.$button-danger-border-color;
    }

    &.nut-button--warning {
      color: vars.$button-warning-border-color;
      border-color: vars.$button-warning-border-color;
    }
  }

  &--large {
    width: 100%;
    height: vars.$button-large-height;
    line-height: vars.$button-large-line-height;
    font-size: vars.$button-large-font-size;
  }

  &--normal {
    padding: vars.$button-default-padding;
    font-size: vars.$button-default-font-size;
  }

  &--small {
    height: vars.$button-small-height;
    line-height: vars.$button-small-line-height;
    padding: vars.$button-small-padding;
    font-size: vars.$button-small-font-size;

    &.nut-button--round {
      border-radius: vars.$button-small-round-border-radius;
    }
  }
  &--mini {
    height: vars.$button-mini-height;
    line-height: vars.$button-mini-line-height;
    padding: vars.$button-mini-padding;
    font-size: vars.$button-mini-font-size;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: vars.$button-disabled-opacity;
  }

  &--loading {
    cursor: default;
    opacity: 0.9;
  }

  &--round {
    border-radius: vars.$button-border-radius;
  }

  &--square {
    border-radius: 0;
  }
}
.nut-button--default:not([disabled]):active {
  color: vars.$button-default-color;
  background: vars.$button-default-bg-color;
  background-origin: border-box;
  border: vars.$button-border-width solid vars.$button-default-border-color;
}
.nut-button--primary:not([disabled]):active {
  color: vars.$button-primary-color;
  background: vars.$button-primary-background-color;
  background-origin: border-box;
  border: vars.$button-border-width solid transparent;
}

.nut-button--info:not([disabled]):active {
  color: vars.$button-info-color;
  background: vars.$button-info-background-color;
  background-origin: border-box;
  border: vars.$button-border-width solid transparent;
}

.nut-button--success:not([disabled]):active {
  color: vars.$button-success-color;
  background: vars.$button-success-background-color;
  background-origin: border-box;
  border: vars.$button-border-width solid transparent;
}

.nut-button--danger:not([disabled]):active {
  color: vars.$button-danger-color;
  background: vars.$button-danger-background-color;
  background-origin: border-box;
  border: vars.$button-border-width solid transparent;
}

.nut-button--warning:not([disabled]):active {
  color: vars.$button-warning-color;
  background: vars.$button-warning-background-color;
  background-origin: border-box;
  border: vars.$button-border-width solid transparent;
}
.nut-button--plain:not([disabled]):active {
  background: vars.$button-plain-background-color;
  background-origin: border-box;
}
.nut-button--plain {
  &.nut-button--primary:not([disabled]):active {
    color: vars.$button-primary-border-color;
    border-color: vars.$button-primary-border-color;
  }

  &.nut-button--info:not([disabled]):active {
    color: vars.$button-info-border-color;
    border-color: vars.$button-info-border-color;
  }

  &.nut-button--success:not([disabled]):active {
    color: vars.$button-success-border-color;
    border-color: vars.$button-success-border-color;
  }

  &.nut-button--danger:not([disabled]):active {
    color: vars.$button-danger-border-color;
    border-color: vars.$button-danger-border-color;
  }

  &.nut-button--warning:not([disabled]):active {
    color: vars.$button-warning-border-color;
    border-color: vars.$button-warning-border-color;
  }
}
