@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-action-sheet {
    .nut-action-sheet__cancel {
      border-top: 1px solid vars.$dark-background2;
    }
    .nut-action-sheet__title {
      border-bottom: 1px solid vars.$dark-background2;
    }
    .nut-action-sheet__cancel,
    .nut-action-sheet__item,
    .nut-action-sheet__title {
      background: vars.$dark-background;
      color: vars.$dark-color;
    }
  }
}

.nut-action-sheet {
  display: block;
  .nut-action-sheet__title {
    display: block;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: vars.$white;
    border-bottom: 1px solid vars.$actionsheet-light-color;
    font-size: vars.$font-size-base;
    color: vars.$title-color;
  }
  .nut-action-sheet__menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nut-action-sheet__cancel,
  .nut-action-sheet__item {
    display: block;
    padding: 10px;
    line-height: vars.$actionsheet-item-line-height;
    font-size: vars.$actionsheet-item-font-size;
    color: vars.$actionsheet-item-font-color;
    text-align: center;
    background-color: #fff;
    border-bottom: vars.$actionsheet-item-border-bottom;
    cursor: pointer;
  }

  .nut-action-sheet__desc {
    font-size: vars.$actionsheet-item-font-size;
    color: #999;
    cursor: default;
  }

  .nut-action-sheet__subdesc {
    display: block;
    font-size: vars.$actionsheet-item-subdesc-font-size;
    color: #999;
  }

  .nut-action-sheet__item--disabled {
    color: #e1e1e1 !important;
    cursor: not-allowed;
  }
  .nut-action-sheet__item--loading {
    cursor: default;
  }

  .nut-action-sheet__cancel {
    margin-top: 5px;
    border-top: vars.$actionsheet-item-cancel-border-top;
  }
}
