// @import '../badge/index.scss';
@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-tabbar-item {
    &__icon--unactive {
      color: vars.$dark-color-gray;
    }
  }
}
.nut-tabbar-item {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: vars.$primary-color;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon--unactive {
    color: vars.$black;
  }

  &_icon-box {
    padding: 0px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .nut-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    &_tips {
      position: absolute;
      background: vars.$tabbar-active-color;
      border: 1px solid vars.$white;
      border-radius: 7px;
      text-align: center;
      top: -2px;
      right: -7px;
      box-shadow: 0 0 0 1px vars.$white;
      font-size: vars.$font-size-1;
      color: vars.$white;
      z-index: 1;
    }
    &_icon {
      display: block;
      background-size: 100% 100%;
      background-position: center center;
      img {
        width: 20px;
        height: 20px;
      }
    }
    &_nav-word {
      font-size: vars.$tabbar-item-text-font-size;
      line-height: vars.$tabbar-item-text-line-height;
      margin-top: vars.$tabbar-word-margin-top;
      display: block;
    }
    &_big-word {
      font-size: vars.$font-size-large;
      line-height: 1;
    }
  }
}
