@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-time-detail {
    background-color: vars.$dark-background2;
    &__detail {
      &__list {
        &__item {
          background-color: vars.$dark-background;
          color: vars.$dark-color;
          &--curr {
            color: vars.$timeselect-timedetail-item-cur-text-color;
          }
        }
      }
    }
  }
}
.nut-time-detail {
  display: flex;
  width: 100%;
  padding: vars.$timeselect-timedetail-padding;
  &__detail {
    width: 100%;
    &__list {
      &__item {
        display: inline-block;
        width: vars.$timeselect-timedetail-item-width;
        height: vars.$timeselect-timedetail-item-height;
        line-height: vars.$timeselect-timedetail-item-line-height;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: vars.$timeselect-timedetail-item-bg-color;
        border-radius: vars.$timeselect-timedetail-item-border-radius;
        color: vars.$timeselect-timedetail-item-text-color;
        font-size: vars.$timeselect-timedetail-item-text-font-size;
        border: 1px solid transparent;
        font-weight: bold;
        &--curr {
          background-color: transparent;
          border: 1px solid vars.$timeselect-timedetail-item-cur-border;
          color: vars.$timeselect-timedetail-item-cur-text-color;
          position: relative;
          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: vars.$timeselect-timedetail-item-cur-bg-color;
            opacity: 0.15;
            content: '';
          }
        }
      }
    }
  }
  &__detail--afternoon {
    margin-top: 30px;
  }
}
