@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-time-select {
    background-color: vars.$dark-background2;
    &__title {
      background-color: vars.$dark-background2;
      color: vars.$dark-color;
    }
    &__content {
      &__pannel {
        background-color: vars.$dark-background3;
        color: vars.$dark-color;
      }
      &__detail {
        background-color: vars.$dark-background2;
      }
    }
  }
}
.nut-time-select {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &__title {
    display: flex;
    width: vars.$timeselect-title-width;
    height: vars.$timeselect-title-height;
    line-height: vars.$timeselect-title-line-height;
    padding-bottom: 10px;
    font-size: vars.$timeselect-title-font-size;
    color: vars.$timeselect-title-color;
    text-align: center;
    &__fixed {
      width: 100%;
      height: 50px;
    }
  }
  &__content {
    width: 100%;
    height: calc(100% - vars.$timeselect-title-height - 10px);
    display: flex;
    &__pannel {
      width: 140px;
      height: 100%;
      overflow: auto;
      background-color: vars.$timeselect-pannel-bg-color;
    }
    &__detail {
      width: calc(100% - 140px);
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
