@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-radio {
    &__label {
      color: vars.$dark-color;

      &--disabled {
        color: vars.$radio-label-disable-color;
      }
    }

    &__button {
      background: vars.$dark-background;
      color: vars.$dark-color;

      &--disabled {
        color: vars.$radio-label-disable-color;
        border: 1px solid vars.$radio-label-disable-color;
      }
    }
  }
}

.nut-radio {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }

  &--reverse {
    flex-direction: row-reverse;

    .nut-radio__label {
      margin-right: vars.$radio-label-margin-left;
      margin-left: 0;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    padding: vars.$radio-button-padding;
    font-size: vars.$radio-button-font-size;
    background: #f6f7f9;
    border-radius: vars.$radio-button-border-radius;
    color: vars.$radio-label-font-color;
    box-sizing: border-box;
    border: 1px solid #f6f7f9;

    &--active {
      background: transparent;
      color: vars.$radio-label-font-active-color;
      border: 1px solid vars.$radio-label-button-border-color;
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: vars.$radio-label-button-background;
        border-radius: vars.$radio-button-border-radius;
        opacity: 0.05;
        content: '';
      }
    }

    &--disabled {
      color: vars.$radio-label-disable-color;
      border: none;
    }

    &--large {
      height: vars.$button-large-height;
      line-height: vars.$button-large-line-height;
      font-size: vars.$button-large-font-size;
    }

    &--small {
      height: vars.$button-small-height;
      line-height: vars.$button-small-line-height;
      padding: vars.$button-small-padding;
      font-size: vars.$button-small-font-size;
    }

    &--mini {
      height: vars.$button-mini-height;
      line-height: vars.$button-mini-line-height;
      padding: vars.$button-mini-padding;
      font-size: vars.$button-mini-font-size;
    }
  }

  &__label {
    flex: 1;
    margin-left: vars.$radio-label-margin-left;
    font-size: vars.$radio-label-font-size;
    color: vars.$radio-label-font-color;

    &--disabled {
      color: vars.$radio-label-disable-color;
    }
  }

  &__icon {
    color: vars.$radio-label-font-active-color;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;
  }

  &__icon--unchecked {
    color: vars.$radio-icon-disable-color;
  }

  &__icon--disable {
    color: vars.$radio-icon-disable-color2;
  }
}
