@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-elevator {
    background-color: vars.$dark-background2;
    &__list {
      &__item {
        color: vars.$dark-color;
        &__code {
          color: vars.$dark-color;
        }
      }
      &__fixed {
        background-color: vars.$dark-background2;
      }
    }
  }
}
.nut-elevator {
  width: 100%;
  display: block;
  position: relative;
  &__list {
    display: block;
    position: relative;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &__item {
      display: block;
      font-size: vars.$elevator-list-item-font-size;
      color: vars.$elevator-list-item-font-color;
      &__code {
        display: flex;
        position: relative;
        height: vars.$elevator-list-item-code-height;
        line-height: vars.$elevator-list-item-code-line-height;
        font-size: vars.$elevator-list-item-code-font-size;
        color: vars.$elevator-list-item-code-font-color;
        padding: vars.$elevator-list-item-code-padding;
        font-weight: vars.$elevator-list-item-code-font-weight;
        box-sizing: border-box;
        &::after {
          content: ' ';
          width: vars.$elevator-list-item-code-after-width;
          height: vars.$elevator-list-item-code-after-height;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: vars.$elevator-list-item-code-after-bg-color;
        }
      }
      &__name {
        display: flex;
        align-items: center;
        padding: vars.$elevator-list-item-name-padding;
        height: vars.$elevator-list-item-name-height;
        line-height: vars.$elevator-list-item-name-line-height;
        &--highcolor {
          color: vars.$elevator-list-item-highcolor;
        }
      }
    }
    &__fixed {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: vars.$elevator-list-item-code-padding;
      height: vars.$elevator-list-item-code-height;
      line-height: vars.$elevator-list-item-code-line-height;
      font-size: vars.$elevator-list-item-code-font-size;
      color: vars.$elevator-list-fixed-color;
      font-weight: vars.$elevator-list-item-code-font-weight;
      background-color: vars.$elevator-list-fixed-bg-color;
      box-sizing: border-box;
      box-shadow: vars.$elevator-list-fixed-box-shadow;
      z-index: 1;
    }
  }
  &__code--current {
    position: vars.$elevator-list-item-code-current-position;
    right: vars.$elevator-list-item-code-current-right;
    top: vars.$elevator-list-item-code-current-top;
    transform: vars.$elevator-list-item-code-current-transform;
    width: vars.$elevator-list-item-code-current-width;
    height: vars.$elevator-list-item-code-current-height;
    line-height: vars.$elevator-list-item-code-current-line-height;
    border-radius: vars.$elevator-list-item-code-current-border-radius;
    background: vars.$elevator-list-item-code-current-bg-color;
    box-shadow: vars.$elevator-list-item-code-current-box-shadow;
    text-align: vars.$elevator-list-item-code-current-text-align;
  }
  &__bars {
    position: vars.$elevator-list-item-bars-position;
    right: vars.$elevator-list-item-bars-right;
    top: vars.$elevator-list-item-bars-top;
    transform: vars.$elevator-list-item-bars-transform;
    padding: vars.$elevator-list-item-bars-padding;
    background-color: vars.$elevator-list-item-bars-background-color;
    border-radius: vars.$elevator-list-item-bars-border-radius;
    text-align: vars.$elevator-list-item-bars-text-align;
    z-index: vars.$elevator-list-item-bars-z-index;
    &__inner {
      &__item {
        display: block;
        padding: vars.$elevator-list-item-bars-inner-item-padding;
        font-size: vars.$elevator-list-item-bars-inner-item-font-size;
        &.active {
          color: vars.$elevator-list-item-bars-inner-item-active-color;
        }
      }
    }
  }
}
