@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-circle-progress__text {
    color: vars.$dark-color;
  }
}

.nut-circle-progress {
  position: relative;

  &__hover {
    stroke: vars.$circleprogress-primary-color;
    transition:
      stroke-dasharray 0.6s ease 0s,
      stroke 0.6s ease 0s;
  }

  &__path {
    stroke: vars.$circleprogress-path-color;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: vars.$circleprogress-text-color;
    font-size: vars.$circleprogress-text-size;
  }
}
