@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-sub-side-navbar {
    background-color: vars.$dark-background2;
    &__title {
      background-color: vars.$dark-background3;
      color: vars.$dark-color;
      &__text {
        color: vars.$dark-color;
      }
    }
  }
}
.nut-sub-side-navbar {
  display: grid;
  float: left;
  width: 100%;
  position: relative;
  &__title {
    display: block;
    width: vars.$sidenavbar-sub-title-width;
    height: vars.$sidenavbar-sub-title-height;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border-bottom: 1px solid vars.$sidenavbar-sub-title-border-color;
    color: vars.$sidenavbar-sub-title-text-color;
    font-size: vars.$sidenavbar-sub-title-font-size;
    background-color: vars.$sidenavbar-sub-title-bg-color;
    border-radius: vars.$sidenavbar-sub-title-radius;
    border: vars.$sidenavbar-sub-title-border;
    &__text {
      line-height: vars.$sidenavbar-sub-title-text-line-height;
      color: vars.$sidenavbar-sub-title-text-color;
    }
    &__icon {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
  &__list {
    width: 100%;
  }
}
