@use '../../styles/variables.scss' as vars;

.nut-theme-dark {
  .nut-menu-item__content {
    .nut-menu-item__option {
      color: vars.$dark-color;
    }
  }
}

.nut-menu-item {
  position: fixed;
  z-index: vars.$menu-bar-opened-z-index;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;

  .active {
    font-weight: vars.$menu-active-item-font-weight;
    color: vars.$menu-item-active-text-color !important;
  }
}

.nut-menu-item__content {
  padding: vars.$menu-item-content-padding;
  max-height: vars.$menu-item-content-max-height;
  display: flex;
  flex-wrap: wrap;
  &.nut-menu-item__overflow {
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
  }

  .nut-menu-item__option {
    color: vars.$title-color;
    font-size: vars.$font-size-2;
    padding-top: vars.$menu-item-option-padding-top;
    padding-bottom: vars.$menu-item-option-padding-bottom;
    display: flex;
    align-items: center;

    .nut-menu-item__span {
      display: flex;
      align-items: center;
      margin-right: vars.$menu-item-option-i-margin-right;
    }
  }
}

.nut-menu-item-placeholder-element {
  position: fixed;
  left: 0;
  right: 0;
  z-index: vars.$menu-bar-opened-z-index;
  background-color: transparent;
}
